In [4]:
num = 10

while num > 0:
    print("num = ", num)
    num -=1

print(" Done!")

num =  10
num =  9
num =  8
num =  7
num =  6
num =  5
num =  4
num =  3
num =  2
num =  1
 Done!

### Find factorial of a number

In [9]:
num = 10
result = 1

while num > 0:
    result *= num
    num -=1

print ("factorial of :",result)
print(" Done!")

factorial of : 3628800
 Done!

###  Find Leap Years

In [10]:
year = 20

while year > 0:
    if year% 4 == 0: #year is divisible by 4
        print(year, "is leap year")
    year -= 1
    
print("done calculating leap years")

20 is leap year
16 is leap year
12 is leap year
8 is leap year
4 is leap year
done calculating leap years

### Age Calulation

- age < 5 -- no tickets
- 5 < age < 9 -- half ticket
- 10-60 full ticket
- > 60 senior citizen

### If there is no upper bound, then order is important
- if upper and lower bound is there then we won't have an issue

In [14]:


age = '10'

age = int(age)

if age < 5:
    print("No tickets")
elif age <= 9:
    print("Half Tickets")
elif age <60:
    print("Full tickets")
else:
    print("Senior Citizen")

Full tickets

### You can create a list with [ ]

In [15]:
names = ["Kamal", "Fazal", "Tony", "Narendara"]

print(type(names))

<class 'list'>

In [17]:
for name in names:
    print(name)

Kamal
Fazal
Tony
Narendara

- it is like an iterator, like a factory

In [20]:
if "Tony" in names:
    print("yes tony is here")

 - output of range starts from 0 and less than the number specified in the brackets

In [ ]:




for i in range(10):
    print("i = ", i)

In [23]:
string = "Hello world"

for c in string:
    print(c)

H
e
l
l
o

w
o
r
l
d

In [30]:
for name in names:
    print("name - ", name)
    if name == "Tony":
        print("Yes ",name," is here")
        break
print("done")

name -  Kamal
name -  Fazal
name -  Tony
Yes  Tony  is here
done

### in a nested for loop where it will break

In [31]:
for i in range(4):
    for name in names:
        print("name - ", name)
        if name == "Tony":
            print("Yes ",name," is here")
            break
    print("loop completed")
print("done")

name -  Kamal
name -  Fazal
name -  Tony
Yes  Tony  is here
loop completed
name -  Kamal
name -  Fazal
name -  Tony
Yes  Tony  is here
loop completed
name -  Kamal
name -  Fazal
name -  Tony
Yes  Tony  is here
loop completed
name -  Kamal
name -  Fazal
name -  Tony
Yes  Tony  is here
loop completed
done

### shopping list

In [32]:
string = "soap 20 paste 30 shampoo 150 brush 50"

In [40]:
#spilt entire strin into list by splitting at list
result = 0
list1 = string.split(" ")

print(list1)

for item in list1:
    #Chec if the sgtrin is a digit or not
    if item.isdigit() == True:
        print("price", item)
        result += int(item)
    else:
        continue
    
    print("result =", result)

['soap', '20', 'paste', '30', 'shampoo', '150', 'brush', '50']
price 20
result = 20
price 30
result = 50
price 150
result = 200
price 50
result = 250

### use of pass

- to avoid compile error by just putting a nop kind of instruction
- do function defenition and later fill it
- why can't we use print() here?

###  functions

In [44]:
#Function should be defined before  a call
# No of arguments should match
# Returning a value is not mandatory
# Defualt return value is None


#Rules of function names
# 1) should not be keyworkd
# 2) should not start with a number
# 3) there should not be space
# 4) alpha nuemeric and _ is allowed
# 5) don't start the function name with _
#     - it can create issues,
#     - we will learn it later in classes
def check_even(num):
    if num%2 == 0:
        print("It is even")
    else:
        print("It is odd")
        
        
result = check_even(5)

It is odd

In [45]:
print(result)

None

In [50]:
def find_occurances(list1, search_name):
    num = 0
    for name in list1:
        if search_name == name:
            num += 1
    return num

In [51]:
names = ["Kamal", "Fazal", "Tony", "Narendara", "Tony", "tony","Tonyj"]
print("count = ", find_occurances(names, "Tony"))

count =  2

###  Default arguments

In [61]:
def print_details(company, city, state="Karnataka", country="India"):
    print("Company :{}\nCity :{}\nState :{}\nCountry :{}\n".format(company,city, state, country))

In [59]:
print_details("TCS", "Bangalore", "Karnataka", "India")
print_details("Wipro", "Bangalore", "Karnataka", "India")
print_details("Continental", "Bangalore", "Karnataka", "India")

Company :TCS
City :Bangalore
State :Karnataka
Country :India

Company :Wipro
City :Bangalore
State :Karnataka
Country :India

Company :Continental
City :Bangalore
State :Karnataka
Country :India

In [62]:
print_details("TCS", "Bangalore")
print_details("Wipro", "Bangalore")
print_details("Continental", "Bangalore", "State-1", "Germany")

Company :TCS
City :Bangalore
State :Karnataka
Country :India

Company :Wipro
City :Bangalore
State :Karnataka
Country :India

Company :Continental
City :Bangalore
State :State-1
Country :Germany

In [63]:
# keyworkd arguments and defualt arguments are different
# default arguments should start from the right, and cannot be interleaved with normal arguments